.FAQ {
    padding: 2% 0px;
    border-bottom: 1px solid rgb(70, 70, 70);
    .number {
        color: rgb(70, 70, 70);
        font-size: medium;
        padding-right: 3%;
        text-decoration: none;
        font-family: sans-serif;
    }
    .content {
        font-size: large;
        color: #D6D6D6;
        text-decoration: none;
        font-family: sans-serif;
    }
}